<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" type="text/javascript"></script>
    <base href="//127.0.0.1:5000/">
  </head>
  <body>
  Hello, {{ name }}!
  <br>
  <br>
  <button type="button" id="get_name_btn">Get Name</button>
  <br>
  <button type="button" id="set_name_btn">Set Name</button>
  <br>
  <input type="text" id="name_field">
  <script src="{{ url_for('static', filename='scripts/script.js') }}" type="text/javascript"></script>

  </body>
</html>