<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" type="text/javascript"></script>
    <script src="//code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
    <base href="//127.0.0.1:5000/">
  </head>
  <body>
  <form id="chart-data-options">
    <span>Show me employment</span>
    <select id="display-type-select" name="display">
      <option value="">-</option>
      <option value="day">by day</option>
      <option value="time">over time</option>
    </select>
    <div class="grouping-selection" hidden>
      <span>for</span>
      <select id="grouping-select" name="grouping">
        <option value="">-</option>
        <option value="all">all programs</option>
        <option value="faculty">each faculty</option>
        <option value="specific">specific programs</option>
      </select>
    </div>
    <div class="program-selection" hidden>
      <span>:</span>
      <select multiple id="program-select" name="program">
      {% for program in programs %}
        <option value="{{ program.code }}">{{ program.label }}</option>
      {% endfor %}
      </select>
    </div>
    <div class="date-selection" hidden>
      <span>on</span>
      <select id="date-select" name="date">
        <option value="">-</option>
      {% for date in dates %}
        <option value="{{ date.code }}">{{ date.label }}</option>
      {% endfor %}
      </select>
    </div>
    <br>
  </form>
  <br>
  <div id="chart"></div>
  <script src="{{ url_for('static', filename='scripts/script.js') }}" type="text/javascript"></script>
  </body>
</html>