<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Co-op Employment Statistics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="scripts/script.js" type="text/javascript"></script>
    <base href="//127.0.0.1:5000/">
  </head>
  <body>
    <div class="centre">
      <div id="header">
        <h1><span>Co-op Employment Statistics</span>
          <a id="github-button" href="https://github.com/DSouzaM/EmploymentStats">
            <div class="github-icon"></div>
          </a>
        </h1>       
      </div>

      <form id="chart-data-options">
        <div id="display-selection" class="option">
          <span>Show me employment</span>
          <select id="display-type-select" name="display">
            <option value=""></option>
            <option value="day">by day</option>
            <option value="time">over time</option>
          </select>
        </div>
        <div id="grouping-selection" class="option" hidden>
          <span>for</span>
          <select id="grouping-select" name="grouping">
            <option value=""></option>
            <option value="all">all programs</option>
            <option value="faculty">each faculty</option>
            <option value="specific">specific programs</option>
          </select>
        </div>
        <div id="program-selection" class="option" hidden>
          <select multiple id="program-select" name="program">
          
            <option value="1">AHS HLTH</option>
          
            <option value="2">AHS HTHPRO</option>
          
            <option value="3">AHS KIN</option>
          
            <option value="4">AHS REC</option>
          
            <option value="8">ARCH ARCH</option>
          
            <option value="10">ARTS AB</option>
          
            <option value="11">ARTS ECON</option>
          
            <option value="12">ARTS ENGL</option>
          
            <option value="13">ARTS FM</option>
          
            <option value="14">ARTS MC</option>
          
            <option value="15">ARTS PSCI</option>
          
            <option value="16">ARTS PSYCH</option>
          
            <option value="17">ARTS SOC</option>
          
            <option value="19">CA AFM-PA</option>
          
            <option value="20">CA BIOTECH</option>
          
            <option value="21">CA MATH</option>
          
            <option value="23">ENG BIOMED</option>
          
            <option value="24">ENG CHE</option>
          
            <option value="25">ENG CIVE</option>
          
            <option value="26">ENG COME</option>
          
            <option value="27">ENG ELE</option>
          
            <option value="28">ENG ENVE</option>
          
            <option value="29">ENG GEOE</option>
          
            <option value="30">ENG ME</option>
          
            <option value="31">ENG MECTR</option>
          
            <option value="32">ENG MGTE</option>
          
            <option value="33">ENG MSI</option>
          
            <option value="34">ENG NE</option>
          
            <option value="35">ENG SYDE</option>
          
            <option value="37">ENV ENVBUS</option>
          
            <option value="38">ENV ERS</option>
          
            <option value="39">ENV GEENM</option>
          
            <option value="40">ENV GEOM</option>
          
            <option value="41">ENV PLAN</option>
          
            <option value="43">MATH ACT</option>
          
            <option value="44">MATH AM</option>
          
            <option value="45">MATH BA</option>
          
            <option value="46">MATH BUS</option>
          
            <option value="47">MATH BUSCS</option>
          
            <option value="48">MATH CO</option>
          
            <option value="49">MATH COMP</option>
          
            <option value="50">MATH CS</option>
          
            <option value="51">MATH ECON</option>
          
            <option value="52">MATH FARM</option>
          
            <option value="53">MATH FIN</option>
          
            <option value="54">MATH HLTH</option>
          
            <option value="55">MATH HON</option>
          
            <option value="56">MATH IT</option>
          
            <option value="57">MATH OR</option>
          
            <option value="58">MATH PHYS</option>
          
            <option value="59">MATH PM</option>
          
            <option value="60">MATH SCM</option>
          
            <option value="61">MATH ST</option>
          
            <option value="62">MATH STAT</option>
          
            <option value="65">SCI BIOCH</option>
          
            <option value="66">SCI BIOL</option>
          
            <option value="67">SCI BIOTEC</option>
          
            <option value="68">SCI CHEM</option>
          
            <option value="69">SCI EARTH</option>
          
            <option value="70">SCI ENV</option>
          
            <option value="71">SCI PHARM</option>
          
            <option value="72">SCI PHYS</option>
          
            <option value="73">SCI PSYCH</option>
          
            <option value="79">VPA CFM</option>
          
            <option value="80">VPA SE</option>
          
          </select>
        </div>
        <div id="date-selection" class="option" hidden>
          <span>on</span>
          <select id="date-select" name="date">
            <option value=""></option>
          
            <option value="20160519">19 May 2016</option>
          
            <option value="20160505">5 May 2016</option>
          
            <option value="20160428">28 Apr 2016</option>
          
            <option value="20160421">21 Apr 2016</option>
          
            <option value="20160414">14 Apr 2016</option>
          
            <option value="20160407">7 Apr 2016</option>
          
            <option value="20160331">31 Mar 2016</option>
          
            <option value="20160324">24 Mar 2016</option>
          
            <option value="20160317">17 Mar 2016</option>
          
            <option value="20160310">10 Mar 2016</option>
          
            <option value="20160303">3 Mar 2016</option>
          
          </select>
        </div>
        <br>
      </form>
      <br>
      <div id="chart"></div>
      {% assign overTime = site.data.overTime || jsonify %} 
      <span id="over-time" hidden>{{ overTime }}</span>
    </div>
  </body>
</html>